<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASSASSINO | <%= stanza %></title>
    <link rel="stylesheet" href="/style_admin.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZCGR4CMDYE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ZCGR4CMDYE');
    </script>
</head>
<body class="secondo_c">
    <div class="tutto">
        <div class="titolo">
            <h1 id="titolo" class="primo">STANZA: <%= stanza %></h1>
        </div>
        <div class="descrizione">
            <p id="descrizione" class="primo">
                Clicca sul bottone per assegnare i ruoli a tutti i giocatori compreso te
            </p>
        </div>
        <div class="centro">
            
                
            <h1 id="ruolo"></h1>
            
            
            <div class="checkbox">
                <input type="checkbox" id="complice">
                <p class="primo">Aggiungi il complice</p>
            </div>
            
            <button class="btn secondo primo_c" onclick="dis()">distrubuisci</button>
            <button onclick="nascondi()" id="btn_nascondi" class="btn secondo primo_c">nascondi il tuo ruolo</button>
        </div>

        

    </div>
    

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const ruolo_testo = document.getElementById('ruolo')
        const stanza = '<%= stanza %>'
        const socket = io()
        socket.emit('crea', stanza)
        socket.on('conn', msg=>{
            console.log(msg)
            
        })
        //colora la scritta del ruolo
        socket.on('ruolo', ruolo=>{
            var index = 0
            var ao = setInterval(()=>{
                ruolo_testo.innerHTML = ruolo.slice(0, index)
                index++

                if(index > ruolo.length ){
                    clearInterval(ao)
                }

            }, 100)
            if(ruolo == 'assassino'){
                
                ruolo_testo.style.color = '#D62020'
            }else if(ruolo == 'puttana'){
                
                ruolo_testo.style.color = '#B216CB'
                
            //enacoid, vecio mio, cazzo cerchi?
            }else if(ruolo == 'sbirro'){
                
                ruolo_testo.style.color = '#083BF0'
            }else if(ruolo == 'complice'){
                ruolo_testo.style.color = '#fcba03'
            }else{
                ruolo_testo.style.color = 'white' 
            }

        })
        
        function dis(){
            var complice = document.getElementById('complice').checked
            
            socket.emit('dist', {"stanza":stanza,"complice": complice})
            
        }
        //nascondi il ruolo
        var nascosto = false
        var temp
        const btn = document.getElementById('btn_nascondi')
        function nascondi(){
            if(nascosto){
                ruolo_testo.classList.remove('nascosto')
                nascosto = false
                btn.innerHTML = 'nascondi il ruolo'
            }else{
                ruolo_testo.classList.add('nascosto')
                nascosto = true
                btn.innerHTML = 'mostra il ruolo'
            }
        }
        

        

        
    var c = '<%=colori%>'.split(',')
    var c1 = c[0]
    var c2 = c[1]  
    var f = '<%=fam%>'.split(',')
        var f1 = f[0]
        var f2 = f[1]    
    </script>
    <script src="/temi.js"></script>
    <script src="/font.js"></script>
</body>
</html>